#table{
    width:70%;
    margin:auto;
    
  }
  #row>th{
    border:1px solid black;
  }
  button{
      border:1px solid transparent;
      border-radius: 4px;
      color:white;
      background-color: black;
      font-size: 13px;
      height:30px;
      text-decoration: none;
  }
  .sortingButtons>button{
      margin:5px
  }