.header{
    width:100%;
    height:450px;
    max-height:100%;
    /* background-color: rgb(248, 94, 155); */
    background-color: rgb(139, 220, 243);
    border:1px solid black;
    /* background-size: 100% 100%;
    background-image: url("https://cdn.shopify.com/s/files/1/0242/8642/9239/files/Website_banner_product_quiz_desktop4_256x256_crop_center_2cc2b70e-7e85-417a-8c5d-791053d1ea85.jpg?v=1644343824"); */
}
#header_up{
    display: flex;
    color:rgb(79, 71, 71);
    justify-content: space-between;
}
#left_header{
    margin-left: 2%;
}
#right_header{
    width:25%;
    justify-content: space-around;
    display: flex;
    margin-right: 2%;
    font-size: 1rem;
    font-weight: 500;
}
#logo{
    font-size:4rem;
    /* font-weight: 700; */
    /* text-align: center; */
    color:rgb(74, 65, 65);
    margin-top: 1%;
    font-family: 'Allura', cursive;
    font-family: 'Anek Odia', sans-serif;
    font-family: 'Bree Serif', serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Hurricane', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Yeseva One', cursive;
    
}
#animals{
    margin-top: -10%
}
#after_header{
    text-align: center;
    margin:auto;
    width:80%;
}
#after_header>h1{
    text-align: center;
    font-weight: 500;
    /* font-size: 1rem; */
    word-spacing: 1mm;
}
#pethome,#petplay{
    margin-top: 10%;
    display: flex;
}
#pethome_text,#petplay_text{
    border:1px solid black;
    width:50%;
    height:222px;
    color:white;
    padding:3%;
    background-color: rgb(8, 8, 8);
}
footer{
    margin-top: 10%;
    color:white;
    width:100%;
    display: flex;
    background-color:rgb(59, 55, 55) ;
}
footer>div{
    width:25%;
    border:1px solid black;
}

