#container{
    width:40%;
    border:2px solid black;
    margin:auto;
    display: block;
    text-align: center;
}
p{
    color:green
}
section{
    color:red;
}
div{
    color:inherit;
}